.customFileInputWrapper {
    margin-bottom: 15px;
  }
  
  .customFileInputWrapper label {
    display: block;
    margin-bottom: 5px;
  }
  
  .customFileInputRow {
    display: flex;
    align-items: center;
  }
  
  .realFileInput {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    width: 1px;
    height: 1px;
  }
  
  .customBrowseButton {
    padding: 5px 10px;
    background-color: var(--background-color);
    color: var(--foreground-color);
    border: 2px solid var(--foreground-color);
    border-radius: 1rem;
    cursor: pointer;
    margin-right: 10px;
  }
  
  body.highlight-keyboard-focus-enabled .customBrowseButton:focus,
  .customBrowseButton:hover {
    background-color: var(--foreground-color);
    color: var(--background-color);
  }
  
  .fileNameSpan {
    color: #666;
  }
  