:root {
  --txtSize: 14px;
  --letterSpacing: 0px;
  --contrast: 100%;
  --saturation: 100%;
  --custom-cursor: auto;
  --custom-hover-cursor: pointer;
  --custom-text-cursor: text;
  --background-color: #FFEDED;
  --foreground-color: #4F0000;
  --text-color: #000000;
  --highlight-hover-color: #BD180F;
  --align-text: center;
  --align-items: center;
}

body.align-left{
  --align-items: flex-start;
}
body.align-center{
  --align-items: center;
}
body.align-right{
  --align-items: flex-end;
}


body.highlight-hover-enabled a:hover {
    background-color: var(--highlight-hover-color);
    padding: 1rem;
    border-radius: 1rem;
}

a{
  padding: 1rem;
}

body.highlight-hover-enabled button:hover{
  background-color: var(--highlight-hover-color) !important;
}

body.highlight-hover-enabled h1:hover{
  background-color: var(--highlight-hover-color);
  border-radius: 1rem;
}

body.highlight-hover-enabled h2:hover{
  background-color: var(--highlight-hover-color);
  border-radius: 1rem;
  padding: 1rem;
}

body.highlight-hover-enabled h3:hover{
  background-color: var(--highlight-hover-color);
  border-radius: 1rem;
  padding: 1rem;
}



body.highlight-hover-enabled h4:hover{
  background-color: var(--highlight-hover-color);
  border-radius: 1rem;
  padding: 1rem;
}

body.highlight-hover-enabled .basicLogoImg:hover{
  background-color: var(--highlight-hover-color);
  border-radius: 1rem;
}

body.highlight-hover-enabled label:hover{
  background-color: var(--highlight-hover-color);
  border-radius: 1rem;
  padding: 1rem;
}

body.highlight-hover-enabled .colorInput:hover{
  background-color: var(--highlight-hover-color);
}

body.highlight-hover-enabled p:hover{
  background-color: var(--highlight-hover-color);
  padding: 1rem;
  border-radius: 1rem;
}

body.highlight-hover-enabled input:hover{
  background-color: var(--highlight-hover-color);
}

body.highlight-hover-enabled textarea:hover{
  background-color: var(--highlight-hover-color);
}

body.highlight-hover-enabled .newStudentApp > div > label:hover{
  background-color: transparent !important;
}

body.highlight-hover-enabled .newStudentApp > div:hover{
  background-color: var(--highlight-hover-color);
  padding: 1rem;
  border-radius: 1rem;
}

body.highlight-hover-enabled .newStudentApp > div > input:hover,
.newStudentApp > div > textarea:hover, .newStudentApp > div > select:hover{
  background-color: var(--background-color) !important;
}

body.highlight-hover-enabled .settingsNav ul > li > ul > li:hover{
  background-color: var(--highlight-hover-color);
  border-radius: 1rem;
}

body.highlight-hover-enabled .settingsNav ul > li:hover{
  background-color: var(--highlight-hover-color);
  border-radius: 1rem;
  padding: 1rem;
}

label, p{
  padding: 1rem;
}


html{
  overflow-x: hidden;
}

body {
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  cursor: var(--custom-cursor);
  font-family: "Mitr", serif !important;
  color: var(--text-color);
}

button, a{
  cursor: var(--custom-hover-cursor);
}

input, textarea{
  cursor: var(--custom-text-cursor);
}

label{
  cursor: var(--custom-cursor);
}

body.modal-open {
  overflow: hidden;
}

#root{
  background-color: var(--background-color);
  width: 100%;
  height: 51rem;
  display: flex;
  margin: 0;
  row-gap: 5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  filter: contrast(var(--contrast)) saturate(var(--saturation));
}

.loginScreen{
  width: 100%;
  height: 100%;
  display: flex;
  margin: 0;
  row-gap: 5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.basicScreen{
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  margin: 0;
  flex-direction: column;
  align-items: center;
  position: relative;
}

h1{
  font-weight: 700;
  letter-spacing: var(--letterSpacing);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: fit-content;
  padding: 1rem;
  font-size: calc(var(--txtSize) + 50px) !important;
}

h2{
  font-weight: 600;
  letter-spacing: var(--letterSpacing);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: fit-content;
  padding: 1rem;
  font-size: calc(var(--txtSize) + 20px);
}

h3{
  font-weight: 500;
  letter-spacing: var(--letterSpacing);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: fit-content;
  padding: 1rem;
  font-size: calc(var(--txtSize) + 10px);
}

h4{
  font-weight: 500;
  letter-spacing: var(--letterSpacing);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: fit-content;
  padding: 1rem;
  font-size: calc(var(--txtSize) + 5px);
}


.loginTitle {
  color: var(--foreground-color);
  font-size: calc(var(--txtSize) + 60px);
}



button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  border-radius: 1rem;
  border-color: none;
}

#loginBtn{
  background-color: var(--background-color);
  color: var(--foreground-color);
  font-weight: 650;
  letter-spacing: var(--letterSpacing);
  font-size: calc(var(--txtSize) + 30px);
  width: 70%;
  height: 7rem;
  border: 3px solid var(--foreground-color);
}

#loginBtn:hover{
  background-color: var(--foreground-color);
  color: var(--background-color);
}

.profileBtn{
  background-color: var(--background-color);
  font-weight: 650;
  letter-spacing: var(--letterSpacing);
  font-size: var(--txtSize);
  height: 60%;
  max-width: 20rem;
  border-radius: 50rem;
}

.searchBtn{
  background-color: var(--background-color);
  font-weight: 650;
  letter-spacing: var(--letterSpacing);
  font-size: var(--txtSize);
  height: 70%;
  width: 15%;
  max-width: 4rem;
  min-width: 2rem;
  border-radius: 50rem;
}

.searchIcon{
  color: var(--foreground-color);
  font-size: var(--txtSize);
  margin: 0;
  padding: 1rem;
  width: fit-content;
  border-radius: 2rem;
  max-height: 2rem;
}

.logoImg{
  width: 20%;
  height: auto;
  margin: 0;
  max-width: 8rem;
}

.basicLogoImg{
  width: auto;
  height: 70%;
  margin: 0;
  fill: var(--background-color);
}

.loginLogoImg{
  width: auto;
  height: 20%;
  margin: 0;
  fill: var(--foreground-color);
}

.loginHeader{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75%;
  margin: 0;
  column-gap: 2rem;
  max-height: 50%;
}

.basicHeader{
  display: flex;
  width: 100vw;
  height: 15vh;
  justify-content: space-evenly;
  align-items: center;
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 0;
  align-self: flex-start;
  background-color: var(--foreground-color);
  margin: 0;
  z-index: 999;
}

.basicTitle{
  color: var(--background-color);
  margin: 0;
  padding: 0;
  height: 100%;
  width: 30%;
  min-width: 17rem;
}

.profileIcon{
  color: var(--foreground-color);
  font-size: var(--txtSize);
  margin: 0;
  padding: 1rem;
  height: 40%;
  width: fit-content;
  border-radius: 2rem;
  max-height: 2rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.searchForm{
  width: 40%;
  height: 70%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#search{
  border-radius: 1rem;
  width: 80%;
  height: 70%;
  background-color: var(--background-color);
  font-weight: 400;
  font-size: var(--txtSize);
  letter-spacing: var(--letterSpacing);
  padding: 1rem;
  color: var(--text-color);
}

body.highlight-hover-enabled #search:hover{
  background-color: var(--highlight-hover-color);
}

.settingsNav ul {
  flex-grow: 1;
  min-height: 0; /* Allow overflow */
  overflow-y: auto; /* Use auto instead of scroll */
  background-color: var(--background-color);
  list-style: none;
  width: 90%;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  padding: 0;
  overscroll-behavior: contain;
  align-items: center;
}

.settingsNav ul > li {
  flex-shrink: 0; /* Prevent list items from shrinking */
  width: 80%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.settingsNav ul > li > ul{
  border-radius: 1rem !important;
}

.settingsNav ul > li > form {
  margin: 0;
  display: flex;
  width: fit-content;
  font-weight: 500;
  letter-spacing: var(--letterSpacing);
  margin: 0;
  padding: 0;
  font-size: calc(var(--txtSize) + 5px);
  align-items: center;
  column-gap: 1rem;
}

.settingsNav ul > li > form > select{
  border: none;
  font-weight: 500;
  letter-spacing: var(--letterSpacing);
  margin: 0;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: calc(var(--txtSize) + 5px);
  background-color: var(--background-color);
  border: var(--foreground-color) 2px solid;
  border-radius: 1rem;
}


.innerSettingsNav {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100%; /* Take full height of parent */
  overflow-y: auto; /* Enable scrolling here instead */
  justify-content: center;
  align-items: center;
}


.settingsNav {
  visibility: hidden;
  opacity: 0;
  height: 100vh; /* Change from min-height */
  overflow: hidden; /* Prevent double scrollbars */
  width: 50%;
  background-color: var(--foreground-color);
  position: fixed;
  top: 0; /* Align to the top of the viewport */
  right: 0; /* Align to the right of the viewport */
  z-index: 1001; /* Ensure it's above other elements */
  box-shadow: 5px 10px 15px var(--text-color);
  display: flex;
  flex-direction: column;
}


.settingsNav[aria-hidden="false"] {
  visibility: visible;
  opacity: 1;
}

@keyframes panelSlideIn {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}


.settingsHeading {
  flex-shrink: 0; /* Prevent header from shrinking */
  /* Add any other styling you need */
  background-color: var(--foreground-color);
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  color: var(--background-color);
}

.disProfilesList{
  display: flex !important;
  flex-direction: column !important;
  width: 70% !important;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 0 !important;
}

.disProfiles{
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between !important;
  font-weight: 500;
  letter-spacing: var(--letterSpacing);
  padding: 0;
  font-size: calc(var(--txtSize) + 5px);
}

.disProfiles button{
  border: none;
  font-weight: 500;
  letter-spacing: var(--letterSpacing);
  margin: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: calc(var(--txtSize) + 5px);
  background-color: var(--background-color);
  border: var(--foreground-color) 2px solid;
}

.disProfiles button:hover{
  background-color: var(--foreground-color);
  color:var(--background-color);
}


.tabNav {
  width: 100vw;
  display: flex;
  align-items: center;
  background-color: var(--foreground-color);
  justify-content: space-evenly;
  position: sticky;
  top: 16vh;
  z-index: 1000;
}


.tabNav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}

.tabNav ul > li {
  float: left;
  display: block;
  text-align: var(--align-text);
  padding: 14px 16px;
  text-decoration: none;
  color:var(--background-color);
  font-weight: 400;
  font-size: calc(var(--txtSize) + 5px);
  letter-spacing: var(--letterSpacing);
  height: 80%;
}

.tabNav ul > li > a{
  text-decoration: none;
  color: var(--background-color);
  background-color: none;
  padding: 0.5rem;
}

.tabNav ul > li > a:hover{
  color: var(--background-color);
  border-color: var(--background-color);
  border-radius: 1rem;
  border: 2px solid;
  padding: 0.5rem;
}


#activeTab{
  background-color: var(--background-color);
  color: var(--foreground-color);
  border-radius: 1rem;
  padding: 0.5rem;
}

body.highlight-hover-enabled #activeTab:hover{
  background-color: var(--highlight-hover-color) !important;
  border-style: none !important;
  border-color: var(--foreground-color)!important;
}

.footerTitle{
  color:var(--background-color);
}

.basicFooter{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--foreground-color);
  margin: 0;
  padding-bottom: 2%;
  padding-top: 2%;
}

.basicFooter div{
  display: flex;
  column-gap: 5%;
  width: 75%;
  color:var(--background-color);
  font-weight: 400;
  font-size: var(--txtSize);
  letter-spacing: var(--letterSpacing);
  row-gap: 0;
  text-align: var(--align-text);
}

.basicFooter div > div{
  display: flex;
  flex-direction: column;
}

.basicFooter div > div > p > a{
  text-decoration: underline !important;
}

body.highlight-hover-enabled .basicFooter div > div > p > a:hover{
  background-color: transparent !important;
}

.basicFooter div > div > a{
  text-decoration: underline !important;
  color: var(--background-color);
}
.dashboardOuter{
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}


.closeBtnDiv {
  width: 90%;
  height: 10%;
  display: flex;
  justify-content: left;
  align-items: center;
}

#backSettingPanelOuter{
  align-items: flex-start;
  display: flex;
}

#backSettingPanel{
  background-color: var(--background-color);
  color: var(--foreground-color);
  font-weight: 650;
  font-size: calc(var(--txtSize) + 15px);
  width: 3rem;
  height: 3rem; 
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  line-height: 1; 
  border: 2px solid var(--foreground-color);
}

#backSettingPanel:hover{
  background-color: var(--foreground-color);
  color: var(--background-color);
  border-color: var(--background-color);
}

#closeSettingPanel {
  background-color: var(--background-color);
  color: var(--foreground-color);
  font-weight: 650;
  font-size: calc(var(--txtSize) + 15px);
  width: 3rem;
  height: 3rem; 
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  line-height: 1; 
  border: 2px solid var(--foreground-color);
}

#closeSettingPanel:hover{
  background-color: var(--foreground-color);
  color: var(--background-color);
  border-color: var(--background-color);
}

.settingsBtn{
  background-color: var(--background-color);
  color: var(--foreground-color);
  font-weight: 650;
  letter-spacing: var(--letterSpacing);
  font-size: calc(var(--txtSize) + 20px);
  width: 3rem;
  height: 3rem; 
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  line-height: 1; 
  border: 2px solid var(--foreground-color);
}

.settingsBtn:hover{
  background-color: var(--foreground-color);
  color: var(--background-color);
}

.loadingScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
}

.spinner-icon {
  width: 5rem;
  height: 5rem;
  border: 1rem solid #ccc;
  border-top: 1rem solid var(--foreground-color);
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 10px;
}

.spinner-text {
  color: var(--foreground-color);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.logOutBtn{
  background-color: var(--background-color);
  color: var(--foreground-color);
  font-weight: 650;
  letter-spacing: var(--letterSpacing);
  font-size: calc(var(--txtSize) + 20px);
  width: 50%;
  height: 4rem; 
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  line-height: 1; 
  border: 2px solid var(--foreground-color);
}

.logOutBtn:hover{
  background-color: var(--foreground-color);
  color: var(--background-color);
}


.newStudentDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%; /* Changed from height to min-height */
  width: 100%;
  padding: 20px 0; /* Add some vertical padding */
}

.newStudentApp {
  width: 80%;
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: var(--txtSize);
  letter-spacing: var(--letterSpacing);
  padding: 20px;
}

.newStudentApp > div{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: var(--align-items);
  padding: 1rem;
}


.newStudentApp > div > label {
  font-weight: 600;
  margin-top: 10px;
  text-align: var(--align-text);
  width: 99%;
}

.subTitle{
  font-weight: 500;
  font-size: calc(var(--txtSize) + 5px);
  letter-spacing: var(--letterSpacing);
  width: 80%;
  text-align: var(--align-text);
}

.alertTxt{
  font-weight: 500;
  font-size: var(--txtSize);
  letter-spacing: var(--letterSpacing);
}

.newStudentApp > div > input,
.newStudentApp > div > textarea, .newStudentApp > div > select {
  margin-bottom: 15px;
  border-radius: 1rem;
  min-height: 2rem;
  padding: 1%;
  font-weight: 400;
  font-size: var(--txtSize);
  letter-spacing: var(--letterSpacing);
  background-color: var(--background-color);
  border-color: var(--text-color);
  color: var(--text-color);
  width: 100%;
  text-align: var(--align-text);
}


#uploadFile{
  width: fit-content !important;
}



.newStudentApp button {
  background-color: var(--background-color);
  color: var(--foreground-color);
  font-weight: 650;
  letter-spacing: var(--letterSpacing);
  font-size: calc(var(--txtSize) + 20px);
  width: 100%;
  height: 4rem; 
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  line-height: 1; 
  border: 2px solid var(--foreground-color);
}

.newStudentApp button:hover{
  background-color: var(--foreground-color);
  color:var(--background-color);
}

.alertDiv {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  background-color: var(--background-color);
  border: 2px solid var(--foreground-color);
  border-radius: 4px;
  padding: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  animation: fadeInOut 45s ease-in-out;
  height: fit-content;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.alertDiv > div{
  width: 100%;
}

.alertDiv > div > button{
  background-color: var(--background-color);
  color: var(--foreground-color);
  font-weight: 650;
  font-size: calc(var(--txtSize) + 15px);
  width: 3rem;
  height: 3rem; 
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  line-height: 1; 
  border: 2px solid var(--foreground-color);
}

.alertDiv > div > button:hover{
  background-color: var(--foreground-color);
  color: var(--background-color);
}

.alertTxt {
  margin: 0;
  color: #721c24;
}

@keyframes fadeInOut {
  0% { opacity: 0; }
  5% { opacity: 1; }
  95% { opacity: 1; }
  100% { opacity: 0; }
}

.stickyContainer{
  border: 1px black solid;
  height: fit-content;
}



.signUpHeader{
  display: flex;
  width: 100vw;
  height: 15vh;
  justify-content: center;
  align-items: center;
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 0;
  align-self: flex-start;
  background-color: var(--foreground-color);
  margin: 0;
  z-index: 999;
  column-gap: 5%;
}

.signUpTitle{
  color: var(--background-color);
  margin: 0;
  padding: 0;
  height: 100%;
  width: fit-content;
  min-width: 17rem;
}

#signUpActive{
  background-color: var(--background-color);
  color:var(--foreground-color);
  border-radius: 1rem;
}


.setBtn{
  border: none;
  font-weight: 500;
  letter-spacing: var(--letterSpacing);
  margin: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: calc(var(--txtSize) + 5px);
  background-color: var(--background-color);
  border: var(--foreground-color) 2px solid;
}

.setBtn:hover{
  background-color: var(--foreground-color);
  color: var(--background-color);
}

.newStudentApp input[type="date"] {
  position: relative;
  z-index: 10;
  cursor: var(--custom-cursor);
}

#settingsScroll {
  max-height: 80vh;
  overflow-y: auto;
}

.toggleBtn{
  border: none;
  font-size: var(--txtSize);
  width: 100%;
  background-color: var(--background-color);
}

.toggleIcon{
  font-size: calc(var(--txtSize) + 30px);
  padding: 1rem;
  color: var(--foreground-color);
}


.colorInput{
  border-radius: 1rem;
  width: 4rem;
  height: 3rem;
}