:root {
  --txtSize: 14px;
  --letterSpacing: 0px;
  --contrast: 100%;
}

html{
  overflow-x: hidden;
}

body {
  background-color: #FFEDED;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
}

body.modal-open {
  overflow: hidden;
}

main{
  
}

#root{
  background-color: #FFEDED;
  width: 100%;
  height: 51rem;
  display: flex;
  margin: 0;
  row-gap: 5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  filter: contrast(var(--contrast));
}

.loginScreen{
  width: 100%;
  height: 100%;
  display: flex;
  margin: 0;
  row-gap: 5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.basicScreen{
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  margin: 0;
  flex-direction: column;
  align-items: center;
  position: relative;
}

h1{
  font-family: "Mitr", serif;
  font-weight: 700;
  letter-spacing: var(--letterSpacing);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: fit-content;
  padding: 0;
  font-size: calc(var(--txtSize) + 30px);
}

h2{
  font-family: "Mitr", serif;
  font-weight: 600;
  letter-spacing: var(--letterSpacing);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: fit-content;
  padding: 0;
  font-size: calc(var(--txtSize) + 20px);
}

h3{
  font-family: "Mitr", serif;
  font-weight: 500;
  letter-spacing: var(--letterSpacing);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: fit-content;
  padding: 0;
  font-size: calc(var(--txtSize) + 10px);
}

h4{
  font-family: "Mitr", serif;
  font-weight: 500;
  letter-spacing: var(--letterSpacing);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: fit-content;
  padding: 0;
  font-size: calc(var(--txtSize) + 5px);
}


.loginTitle {
  color: #4F0000;
  font-size: calc(var(--txtSize) + 60px);
}



button{
  font-family: "Mitr", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  border-radius: 1rem;
  border-color: none;
  cursor: pointer;
}

#loginBtn{
  background-color: #FFEDED;
  color: #4F0000;
  font-weight: 650;
  letter-spacing: var(--letterSpacing);
  font-size: calc(var(--txtSize) + 30px);
  width: 50%;
  height: 7rem;
  max-width: 20rem;
  border: 3px solid #4F0000;
}

#loginBtn:hover{
  background-color: #4F0000;
  color: #FFEDED;
}

.profileBtn{
  background-color: #FFEDED;
  font-weight: 650;
  letter-spacing: var(--letterSpacing);
  font-size: var(--txtSize);
  height: 60%;
  max-width: 20rem;
  border-radius: 50rem;
}

.searchBtn{
  background-color: #FFEDED;
  font-weight: 650;
  letter-spacing: var(--letterSpacing);
  font-size: var(--txtSize);
  height: 70%;
  width: 15%;
  max-width: 4rem;
  min-width: 2rem;
  border-radius: 50rem;
}

.searchIcon{
  color: #4F0000;
  font-size: var(--txtSize);
  margin: 0;
  padding: 1rem;
  width: fit-content;
  border-radius: 2rem;
  max-height: 2rem;
}

.logoImg{
  width: 20%;
  height: auto;
  margin: 0;
  max-width: 8rem;
}

.basicLogoImg{
  width: auto;
  height: 70%;
  margin: 0;
}

.loginHeader{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75%;
  margin: 0;
  column-gap: 2rem;
}

.basicHeader{
  display: flex;
  width: 100vw;
  height: 15vh;
  justify-content: space-evenly;
  align-items: center;
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 0;
  align-self: flex-start;
  background-color: #4F0000;
  margin: 0;
  z-index: 999;
}

.basicTitle{
  color: #FFEDED;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 30%;
  min-width: 17rem;
}

.profileIcon{
  color: #4F0000;
  font-size: var(--txtSize);
  margin: 0;
  padding: 1rem;
  height: 40%;
  width: fit-content;
  border-radius: 2rem;
  max-height: 2rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.searchForm{
  width: 40%;
  height: 70%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#search{
  border-radius: 1rem;
  width: 80%;
  height: 70%;
  background-color: #FFEDED;
  font-family: "Mitr", serif;
  font-weight: 400;
  font-size: var(--txtSize);
  letter-spacing: var(--letterSpacing);
  padding: 1rem
}

.settingsNav ul {
  flex-grow: 1;
  min-height: 0; /* Allow overflow */
  overflow-y: auto; /* Use auto instead of scroll */
  background-color: #FFEDED;
  list-style: none;
  width: 90%;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  padding: 0;
  overscroll-behavior: contain;
}

.settingsNav ul > li {
  flex-shrink: 0; /* Prevent list items from shrinking */
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.settingsNav ul > li > form {
  margin: 0;
  display: flex;
  width: fit-content;
  font-family: "Mitr", serif;
  font-weight: 500;
  letter-spacing: var(--letterSpacing);
  margin: 0;
  padding: 0;
  font-size: calc(var(--txtSize) + 5px);
  align-items: center;
  column-gap: 1rem;
}

.settingsNav ul > li > h3 {
}

.innerSettingsNav {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100%; /* Take full height of parent */
  overflow-y: auto; /* Enable scrolling here instead */
  justify-content: center;
  align-items: center;
}


.settingsNav {
  visibility: hidden;
  opacity: 0;
  height: 100vh; /* Change from min-height */
  overflow: hidden; /* Prevent double scrollbars */
  width: 50%;
  background-color: #4F0000;
  position: fixed;
  top: 0; /* Align to the top of the viewport */
  right: 0; /* Align to the right of the viewport */
  z-index: 1000; /* Ensure it's above other elements */
  box-shadow: 5px 10px 15px black;
  display: flex;
  flex-direction: column;
}


.settingsNav[aria-hidden="false"] {
  visibility: visible;
  opacity: 1;
}

@keyframes panelSlideIn {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}


.settingsHeading {
  flex-shrink: 0; /* Prevent header from shrinking */
  /* Add any other styling you need */
  background-color: #4F0000;
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  color: #FFEDED;
}

.disProfilesList{
  display: flex !important;
  flex-direction: column !important;
  width: 70% !important;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 0 !important;
}

.disProfiles{
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between !important;

  font-family: "Mitr", serif;
  font-weight: 500;
  letter-spacing: var(--letterSpacing);
  padding: 0;
  font-size: calc(var(--txtSize) + 5px);
}

.disProfiles button{
  border: none;
  font-family: "Mitr", serif;
  font-weight: 500;
  letter-spacing: var(--letterSpacing);
  margin: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: calc(var(--txtSize) + 5px);
  background-color: #FFEDED;
  border: #4F0000 2px solid;
}

.disProfiles button:hover{
  background-color: #4F0000;
  color:#FFEDED;
}


.tabNav {
  width: 100vw;
  display: flex;
  align-items: center;
  background-color: #4F0000;
  justify-content: space-evenly;
  position: sticky;
  top: 16vh;
  z-index: 100;
  box-shadow: 5px 5px 15px black;
}


.tabNav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}

.tabNav ul > li {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color:#FFEDED;
  font-family: "Mitr", serif;
  font-weight: 400;
  font-size: calc(var(--txtSize) + 5px);
  letter-spacing: var(--letterSpacing);
  cursor: pointer;
  height: 80%;
}

#activeTab{
  background-color: #FFEDED;
  color: #4F0000;
  border-radius: 1rem;
}

.footerTitle{
  color:#FFEDED;
}

.basicFooter{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  justify-content: space-evenly;
  align-items: center;
  background-color: #4F0000;
  margin: 0;
  padding-bottom: 2%;
  padding-top: 2%;
}

.basicFooter div{
  display: flex;
  column-gap: 5%;
  width: 75%;
  color:#FFEDED;
  font-family: "Mitr", serif;
  font-weight: 400;
  font-size: var(--txtSize);
  letter-spacing: var(--letterSpacing);
  row-gap: 0;
  text-align: center;
}

.basicFooter div > div{
  display: flex;
  flex-direction: column;
}
.dashboardOuter{
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboardTitle{
}

.closeBtnDiv {
  width: 90%;
  height: 10%;
  display: flex;
  justify-content: left;
  align-items: center;
}

#closeSettingPanel {
  background-color: #FFEDED;
  color: #4F0000;
  font-weight: 650;
  font-size: calc(var(--txtSize) + 15px);
  width: 3rem;
  height: 3rem; 
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  line-height: 1; 
  border: 2px solid #4F0000;
}

#closeSettingPanel:hover{
  background-color: #4F0000;
  color: #FFEDED;
  border-color: #FFEDED;
}

.settingsBtn{
  background-color: #FFEDED;
  color: #4F0000;
  font-weight: 650;
  letter-spacing: var(--letterSpacing);
  font-size: calc(var(--txtSize) + 20px);
  width: 3rem;
  height: 3rem; 
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  line-height: 1; 
  border: 2px solid #4F0000;
}

.settingsBtn:hover{
  background-color: #4F0000;
  color: #FFEDED;
}

.loadingScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
}

.spinner-icon {
  width: 5rem;
  height: 5rem;
  border: 1rem solid #ccc;
  border-top: 1rem solid #4F0000;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 10px;
}

.spinner-text {
  color: #4F0000;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.logOutBtn{
  background-color: #FFEDED;
  color: #4F0000;
  font-weight: 650;
  letter-spacing: var(--letterSpacing);
  font-size: calc(var(--txtSize) + 20px);
  width: 50%;
  height: 4rem; 
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  line-height: 1; 
  border: 2px solid #4F0000;
}

.logOutBtn:hover{
  background-color: #4F0000;
  color: #FFEDED;
}


.newStudentDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%; /* Changed from height to min-height */
  width: 100%;
  padding: 20px 0; /* Add some vertical padding */
}

.newStudentApp {
  width: 80%;
  display: flex;
  flex-direction: column;
  font-family: "Mitr", serif;
  font-weight: 400;
  font-size: var(--txtSize);
  letter-spacing: var(--letterSpacing);
  padding: 20px;
}


.newStudentApp label {
  font-weight: 600;
  margin-top: 10px;
}

.subTitle{
  font-family: "Mitr", serif;
  font-weight: 500;
  font-size: calc(var(--txtSize) + 5px);
  letter-spacing: var(--letterSpacing);
  width: 80%;
  text-align: center;
}

.alertTxt{
  font-family: "Mitr", serif;
  font-weight: 500;
  font-size: var(--txtSize);
  letter-spacing: var(--letterSpacing);
}

.newStudentApp input,
.newStudentApp textarea, .newStudentApp select {
  margin-bottom: 15px;
  border-radius: 1rem;
  min-height: 2rem;
  padding: 1%;
  font-family: "Mitr", serif;
  font-weight: 400;
  font-size: var(--txtSize);
  letter-spacing: var(--letterSpacing);
}

.newStudentApp button {
  background-color: #FFEDED;
  color: #4F0000;
  font-weight: 650;
  letter-spacing: var(--letterSpacing);
  font-size: calc(var(--txtSize) + 20px);
  width: 100%;
  height: 4rem; 
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  line-height: 1; 
  border: 2px solid #4F0000;
}

.newStudentApp button:hover{
  background-color: #4F0000;
  color:#FFEDED;
}

.alertDiv {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  border-radius: 4px;
  padding: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  animation: fadeInOut 45s ease-in-out;
  height: fit-content;
}

.alertTxt {
  margin: 0;
  color: #721c24;
}

@keyframes fadeInOut {
  0% { opacity: 0; }
  5% { opacity: 1; }
  95% { opacity: 1; }
  100% { opacity: 0; }
}

.stickyContainer{
  background-color: aqua;
  border: 1px black solid;
  height: fit-content;
}



.signUpHeader{
  display: flex;
  width: 100vw;
  height: 15vh;
  justify-content: center;
  align-items: center;
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 0;
  align-self: flex-start;
  background-color: #4F0000;
  margin: 0;
  z-index: 999;
  column-gap: 5%;
}

.signUpTitle{
  color: #FFEDED;
  margin: 0;
  padding: 0;
  height: 100%;
  width: fit-content;
  min-width: 17rem;
}

#signUpActive{
  background-color: #FFEDED;
  color:#4F0000;
  border-radius: 1rem;
}
